<div id="reviews" class="tab-pane" role="tabpanel">
  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 row">
        <div class="col-6">
          <h6 class="m-0 font-weight-bold text-primary">Danh sách bài viết</h6>
          <span>(Có {{listBlog.length}} bài viết)</span>
        </div>
        <div class="col-6 row">
          <div class="searchbar col-9">
            <input class="search_input" type="text" name="" placeholder="Tìm kiếm bài viết...">
            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary">Thêm mới <i class="fa fa-plus"
                                                                      aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-product" id="dataTable3" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tiêu đề</th>
              <th>Ngày tạo</th>
              <th>Lượt xem</th>
              <th>Nội dung</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let eachBlog of listBlog | paginate: {id: 'page3', itemsPerPage: pageSize, currentPage: currentP, totalItems: listBlog.length}, index as i">
              <td>{{currentP * pageSize - (pageSize - 1) + i}}</td>
              <td>{{eachBlog.title}}</td>
              <td>{{eachBlog.createDate}}</td>
              <td>{{eachBlog.numSee}}</td>
              <td>{{eachBlog.content}}..</td>
              <td class="td-home-admin">
                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Sửa"></i>
                <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Xóa"
                   style="padding-left: 5px" (click)="deleteBlogConfirm(eachBlog,deleteBlog)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="paginatoin-area">
          <div class="row" *ngIf="listBlog">
            <div class="col-lg-6 col-md-6">
              <p>Từ {{currentP * pageSize - (pageSize - 1)}} -
                <span *ngIf="currentP*pageSize <  listBlog.length">{{currentP * pageSize}}</span>
                <span *ngIf="currentP*pageSize >= listBlog.length">{{listBlog.length}}</span> trên tổng
                số {{listBlog.length}} bài viết</p>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul class="pagination-box">
                <pagination-controls id="page3" (pageChange)="pageChange($event)" maxSize="5"
                                     directionLinks="true"
                                     autoHide="false" responsive="false" previousLabel="Trước"
                                     nextLabel="Tiếp"
                                     screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                </pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteBlog>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="del">Bạn chắc chắn muốn xóa bài viết này</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeForm()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=closeForm() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>
