<!--<mat-toolbar color="primary">-->
<!--  Angular Material 2 App-->
<!--</mat-toolbar>-->
<!--<div class="basic-container">-->
<!--  <p>-->
<!--    <button mat-button (click)="openDialog()">Open Confirm Dialog</button>-->
<!--  </p>-->
<!--  <p>-->
<!--    <button mat-button (click)="testToast()">Open Toast</button>-->
<!--  </p>-->
<!--  <span class="version-info">Current build: {{version.full}}</span>-->
<!--</div>-->
<app-header *ngIf="role == 'USER'"></app-header>
<router-outlet></router-outlet>
<app-footer  *ngIf="role == 'USER'"></app-footer>
