<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Thanh toán</li>
      </ul>
    </div>
  </div>
</div>
<div class="checkout-area pt-60 pb-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="coupon-accordion">
          <!--Accordion Start-->
          <h3>Bạn có phiếu mua hàng? <span id="showcoupon">Click vào đây để nhập mã code</span></h3>
          <div id="checkout_coupon" class="coupon-checkout-content">
            <div class="coupon-info">
              <form action="#">
                <p class="checkout-coupon">
                  <input placeholder="Coupon code" type="text">
                  <input value="Apply Coupon" type="submit">
                </p>
              </form>
            </div>
          </div>
          <!--Accordion End-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <form action="#">
          <div class="checkbox-form">
            <h3>Thanh toán</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="country-select clearfix">
                  <label>Thành phố (City) <span class="required">*</span></label>
                  <input [(ngModel)]="city" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkout-form-list">
                  <label>Tên (First Name) <span class="required">*</span></label>
                  <input value="{{firstName}}" type="text" [(ngModel)]="firstName" name="first">
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkout-form-list">
                  <label>Họ (Last Name) <span class="required">*</span></label>
                  <input value="{{lastName}}" type="text" [(ngModel)]="lastName" name="last">
                </div>
              </div>
              <div class="col-md-12">
                <div class="checkout-form-list">
                  <label>Địa chỉ (Address)<span class="required">*</span></label>
                  <input type="text" [(ngModel)]="address">
                </div>
              </div>
              <div class="col-md-12">
                <div class="checkout-form-list">
                  <label>Email<span class="required">*</span></label>
                  <input value="{{email}}" type="text" disabled>
                </div>
              </div>
              <div class="col-md-12">
                <div class="checkout-form-list">
                  <label>Số điện thoại (Phone Number)<span class="required">*</span></label>
                  <input type="text" [(ngModel)]="phoneNumber">
                </div>
              </div>
              <div class="col-md-12">
                <div class="checkout-form-list create-acc">
                  <input id="cbox" type="checkbox">
                  <label>Tôi cam kết các thông tin này là thật!</label>
                </div>
                <div id="cbox-info" class="checkout-form-list create-account">
                  <p>Hãy chắc chắn rằng các thông tin này là tồn tại để chúng tôi có thể liên lạc với bạn</p>
                </div>
              </div>
            </div>
            <div class="different-address">
              <div class="order-notes">
                <div class="checkout-form-list">
                  <label>Chú thích</label>
                  <textarea id="checkout-mess" cols="40" rows="20" placeholder="Ghi lại các ghi chú..." [(ngModel)]="notes"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-12">
        <div class="your-order">
          <h3>Hóa đơn</h3>
          <div class="your-order-table table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="cart-product-name">Sản phẩm</th>
                <th class="cart-product-total">Tổng</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cart_item" *ngFor="let eachCheckOut of productInCart">
                <td class="cart-product-name"> {{eachCheckOut.productName}}<strong class="product-quantity"> × {{eachCheckOut.numProInCart}}</strong></td>
                <td class="cart-product-total"><span class="amount">{{eachCheckOut.total * 1000000 | number}}</span></td>
              </tr>
              </tbody>
              <tfoot>
              <tr class="cart-subtotal">
                <th>Khuyến mại</th>
                <td><span class="amount">£215.00</span></td>
              </tr>
              <tr class="order-total">
                <th>Tổng</th>
                <td><strong><span class="amount">£215.00</span></strong></td>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="payment-method">
            <div class="payment-accordion">
              <div class="order-button-payment row">
                <button class="col-sm-6" type="submit" routerLink="/cart">Quay lại giỏ hàng</button>
                <button class="col-sm-6" type="submit" (click)="checkOut()" routerLink="/order-info">Thanh toán</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
