<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Thanh toán</li>
      </ul>
    </div>
  </div>
</div>
<div class="checkout-area pt-60 pb-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!--        <form action="#">-->
        <div class="checkbox-form">
          <h3>Thông tin khách hàng</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="checkout-form-list">
                <mat-form-field class="example-full-width">
                  <mat-label>Tên (First Name)</mat-label>
                  <input matInput [formControl]="firstNameFormControl" required>
                  <mat-error *ngIf="firstNameFormControl.invalid">Bạn chưa nhập tên</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkout-form-list">
                <mat-form-field class="example-full-width">
                  <mat-label>Họ (Last Name)</mat-label>
                  <input matInput [formControl]="lastNameFormControl" required>
                  <mat-error *ngIf="lastNameFormControl.invalid">Bạn chưa nhập họ đệm</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="checkout-form-list">
                <mat-form-field >
                  <mat-label>Địa chỉ</mat-label>
                  <textarea matInput style="border: none" [formControl]="addressFormControl" required></textarea>
                  <mat-error *ngIf="addressFormControl.invalid">Bạn chưa nhập địa chỉ</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="checkout-form-list">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                         placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email')">
                    Email không hợp lệ
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="checkout-form-list">
                <mat-form-field appearance="legacy">
                  <mat-label>Số điện thoại</mat-label>
                  <input matInput [formControl]="phoneNumberFormControl" required>
                  <mat-error *ngIf="phoneNumberFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
                    Sai định dạng số điện thoại
                  </mat-error>
                  <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
                    Bạn chưa nhập số điện thoại
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="checkout-form-list">
                <mat-form-field>
                  <mat-label>Ghi chú</mat-label>
                  <textarea matInput maxlength="256" style="border: none" [formControl]="notesFormControl" #message placeholder="Ví dụ: Tôi cần giúp đỡ..."></textarea>
                  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="different-address">
            <div class="order-notes">
              <div class="checkout-form-list create-acc">
                <mat-checkbox class="example-margin" [(ngModel)]="checked">Xác thực thông tin!</mat-checkbox>
              </div>
              <div class="collapse" id="collapseExample">
                <p>Hãy chắc chắn rằng các thông tin này là chính xác để chúng tôi có thể liên lạc với bạn</p>
              </div>
            </div>
          </div>
        </div>
        <!--        </form>-->
      </div>
      <div class="col-lg-6 col-12">
        <div class="your-order">
          <h3>Hóa đơn( {{codeOrder}} )</h3>
          <div class="your-order-table table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="cart-product-name">Sản phẩm</th>
                <th class="cart-product-total">Giá</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cart_item" *ngFor="let eachCheckOut of productInCart">
                <td class="cart-product-name"> {{eachCheckOut.productName}}<strong class="product-quantity" *ngIf="eachCheckOut.numProInCart"> × {{eachCheckOut.numProInCart}}</strong></td>
                <td class="cart-product-total" *ngIf="eachCheckOut.total"><strong class="product-quantity">{{eachCheckOut.total * 1000000 | number}}</strong></td>
<!--                <td class="cart-product-total" *ngIf="eachCheckOut.price"><span class="amount">{{eachCheckOut.price * 1000000 | number}}</span></td>-->
              </tr>
              </tbody>
              <tfoot>
              <tr class="cart-subtotal" *ngIf="orderCode">
                <th>Khuyến mại</th>
                <td><span class="amount">{{orderCode}} %</span></td>
              </tr>
              <tr class="order-total">
                <th>Tổng</th>
                <td *ngIf="orderCode"><strong><span class="amount">{{subtotal * 1000000 - (orderCode * subtotal * 10000) | number}}</span></strong></td>
                <td *ngIf="total"><strong><span class="amount">{{total * 10000 | number}}</span></strong></td>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="payment-method">
            <div class="payment-accordion">
              <div class="order-button-payment row">
                <div class="col-sm-6">
                  <button *ngIf="currentUser && !productBuyNow" routerLink="/cart">Quay lại giỏ hàng</button>
                </div>
                <div class="col-sm-6">
                  <button (click)="checkOut()">Thanh toán</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

