<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="badge badge-info"><a>Email : {{currentUser.username}}</a></li>
    </ul>
  </div>
</nav>
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3"><strong>{{currentUser.fullName}}</strong> Chào mừng đến với Đồ gỗ Huy Hùng </h1>
    <p class="lead"> Đăng nhập để nhận thông báo mơi nhất về thông tin khuyến mại
    </p>
    <div>
      <button class="btn btn-primary" routerLink="/order-user">Xem thông tin đơn hàng</button>
    </div>
  </header>

  <div class="form-user mb-30">
    <form [formGroup]="formUser" class="jumbotron">
      <h4>Thông tin người dùng</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">Tên</label>
          <input type="email" class="form-control" id="firstName" placeholder="Nhập tên..." formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Họ</label>
          <input type="text" class="form-control" id="lastName" placeholder="Nhập họ..." formControlName="lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email <span style="color: red">*</span></label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" (input)="checkSpace($event)" autocomplete="off">
          <mat-error class="error-message" *ngFor="let validation of validation_messages.email">
            <mat-error
              *ngIf="formUser.get('email').hasError(validation.type) && (formUser.get('email').dirty || formUser.get('email').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Mật khẩu <span style="color: red">*</span></label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Nhập mật khẩu..." formControlName="password">
          <mat-error class="error-message" *ngFor="let validation of validation_messages.password">
            <mat-error
              *ngIf="formUser.get('password').hasError(validation.type) && (formUser.get('password').dirty || formUser.get('password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
      <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" class="form-control" placeholder="Nhập số điện thoại..." formControlName="phoneNumber">
      </div>
      <div class="form-group">
        <label for="inputAddress">Địa chỉ</label>
        <textarea type="text" class="form-control" rows="3" id="inputAddress" placeholder="Nhập địa chỉ" formControlName="address"></textarea>
      </div>
      <div class="form-user-button text-center">
        <button type="submit" class="btn btn-primary" [disabled]="formUser.invalid" (click)="openConfirm(submitType)">Lưu</button>
        <button type="submit" class="btn btn-secondary ml-2" (click)="resetForm">Hủy</button>
      </div>
    </form>
  </div>

</div>

<ng-template #submitType>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="">Bạn có chắc chắn muốn cập nhật không?</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=onBack() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" (click)=updateUser() style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>

