
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="badge badge-info" ><a>Email : {{currentUser.username}}</a></li>
    </ul>
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--      <li><button class="glyphicon glyphicon-log-in btn btn-danger" (click)="logOut()"> LogOut</button></li>-->
<!--    </ul>-->
  </div>
</nav>
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Chào mừng đến với Đồ gỗ Huy Hùng </h1>
    <p class="lead"> Đăng nhập và nhận hàng ngàn ưu đãi
    </p>
    <div class="row">
    </div>
  </header>

</div>

