<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Xác nhận đơn hàng</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="contact-page-side-content">
          <h3 class="contact-page-title">Đơn hàng( {{orderCode}} )</h3>
          <p class="contact-page-message mb-25">Danh sách sản phẩm</p>
          <div class="your-order-table table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="cart-product-name">Sản phẩm</th>
                <th class="cart-product-total">Tổng</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cart_item" *ngFor="let eachCheckOut of productInCart">
                <td class="cart-product-name"> {{eachCheckOut.productName}}<strong class="product-quantity"> × {{eachCheckOut.numProInCart}}</strong></td>
                <td class="cart-product-total"><span class="amount">{{eachCheckOut.total * 1000000 | number}}</span></td>
              </tr>
              </tbody>
              <tfoot>
              <tr class="cart-subtotal" *ngIf="codeDiscount">
                <th>Khuyến mại</th>
                <td><span class="amount">{{codeDiscount}} %</span></td>
              </tr>
              <tr class="order-total">
                <th>Tổng</th>
                <td><strong><span class="amount">{{subtotal * 1000000 - (codeDiscount * subtotal * 10000) | number}}</span></strong></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="contact-page-side-content">
          <h3 class="contact-page-title">Thông tin khách hàng</h3>
          <div class="single-contact-block">
            <h4><i class="fa fa-user"></i> Họ và tên</h4>
            <p>{{fullName}}</p>
          </div>
          <div class="single-contact-block">
            <h4><i class="fa fa-address-card"></i> Địa chỉ</h4>
            <p>{{address}}</p>
          </div>
          <div class="single-contact-block">
            <h4><i class="fa fa-phone"></i> Số điện thoại</h4>
            <p>{{phoneNumber}}</p>
          </div>
          <div class="single-contact-block">
            <h4><i class="fa fa-envelope-o"></i> Email</h4>
            <p>{{email}}</p>
          </div>
          <div class="single-contact-block">
            <h4><i class="fa fa-money-bill"></i> Thanh toán</h4>
            <p>Thanh toán sau khi nhận hàng</p>
            <p>Hoặc chuyển tiền qua STK: (1013904753)</p>
          </div>
          <div class="payment-method">
            <div class="payment-accordion">
              <div class="order-button-payment row">
                <div class="col-sm-4">
                  <button routerLink="/checkout">Sửa lại thông tin</button>
                </div>
                <div class="col-sm-4">
                  <button (click)="deleteOrder()">Hủy đơn hàng</button>
                </div>
                <div class="col-sm-4">
                  <button (click)="confirmOrderByUser()">Xác nhận đơn hàng</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Main Page Area End Here -->


