.searchbar{
  position: relative;
}
.search_input{
  background-color: #1cc88a;
  border-radius: 30px;
  //caret-color:transparent;
  //transition: width 0.4s linear;
  height: 40px;
}

//.searchbar:hover > .search_input{
//  padding: 0 10px;
//  width: 450px;
//  caret-color:red;
//  transition: width 0.4s linear;
//}

//.searchbar:hover > .search_icon{
//  background: white;
//  color: #e74c3c;
//}

.search_icon{
  width: 20px;
  float: right;
  position: absolute;
  top: 8px;
  right: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}
.table-product {
  align-items: center;
  text-align: center;
}
