<h3>Thêm mới sản phẩm</h3>
<div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tên sản phẩm</label>
      <input type="text" class="form-control" placeholder="Nhập tên sản phẩm..." [(ngModel)]="productName">
    </div>
    <div class="form-group col-md-6">
      <label>Giá(triệu VNĐ)</label>
      <input type="text" class="form-control" placeholder="Nhập giá..." [(ngModel)]="price">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Mã khuyến mại(%)</label>
      <input type="text" class="form-control" placeholder="Nhập mã khuyến mại..." [(ngModel)]="codeDiscount">
    </div>
    <div class="form-group col-md-4">
      <label>Thể loại</label>
      <select class="form-control" [(ngModel)]="categoryId">
        <option [value]="null" disabled>Thể loại</option>
        <option *ngFor="let eachCate of categories" value="{{eachCate.id}}">{{eachCate.nameCate}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Khuyến mại</label>
      <input type="number" class="form-control" placeholder="Nhập số phần trăm khuyến mại...">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label>File Ảnh(500*500)</label>
      <input type="file" class="file-custom" (change)="selectBigFile($event)">
    </div>
    <div class="form-group col">
      <label>File Ảnh(300*300)</label>
      <input type="file" class="file-custom" (change)="smallFileSelected($event)">
    </div>
  </div>
  <div class="form-group">
    <label>Mô tả sản phẩm</label>
    <textarea class="form-control" rows="4" placeholder="Thêm mô tả sản phẩm..." [(ngModel)]="description"></textarea>
  </div>
  <div class="button-create-product">
    <button type="submit" class="btn btn-primary" style="width: 80px">Lưu</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 30px; width: 80px" (click)="closeForm()">Đóng</button>
  </div>
</div>
