<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/home">Trang chủ</a></li>
        <li class="active">Tin tức</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Main Blog Page Area -->
<div class="li-main-blog-page pt-60 pb-55">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Main Content Area -->
      <div class="col-lg-12">
        <div class="row li-main-content">
          <div class="col-lg-6 col-md-6" *ngFor="let eachBlog of blogList | paginate: {id: 'page', itemsPerPage: 4, currentPage: currentP, totalItems: blogList.length}">
            <div class="li-blog-single-item pb-25">
              <div class="li-blog-banner">
                <a (click)="blogDetail(eachBlog.id)"><img class="img-full" [src]="'data:image/jpg;base64,' + eachBlog.img"></a>
              </div>
              <div class="li-blog-content">
                <div class="li-blog-details">
                  <h3 class="li-blog-heading pt-25"><a (click)="blogDetail(eachBlog.id)">{{eachBlog.title}}</a></h3>
                  <div class="li-blog-meta">
                    <a class="author"><i class="fa fa-user"></i>Admin</a>
                    <a class="comment"><i class="fa fa-comment-o"></i> {{eachBlog.numSee}} lượt truy cập</a>
                    <a class="post-time"><i class="fa fa-calendar"></i> {{eachBlog.createDate}}</a>
                  </div>
                  <p>{{eachBlog.content}}</p>
                  <a class="read-more" (click)="blogDetail(eachBlog.id)">Xem thêm...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="li-paginatoin-area text-center pt-25">
              <div class="row" *ngIf="blogList">
                <div class="col-lg-12">
                  <ul class="li-pagination-box">
                    <pagination-controls id="page" (pageChange)="pageBlog($event)" maxSize="5"
                                         directionLinks="true" autoHide="false" responsive="false" previousLabel="Trước"
                                         nextLabel="Tiếp" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Li's Main Content Area End Here -->
    </div>
  </div>
</div>

