<div class="container">
  <div class="card align-items-lg-center mb-50" style="border: none;">
    <form style="min-width: 500px;" class="mt-50">
      <h2>Quên mật khẩu</h2>
      <div class="mt-20">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" autocomplete="off" required class="input-custom-material">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Email không đúng định dạng
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email không được để trống
          </mat-error>
          <mat-hint>Hãy nhập email đăng kí của bạn để chúng tôi có thể giúp bạn lấy lại mật khẩu</mat-hint>
        </mat-form-field>
      </div>
      <div class="mt-10">
        <mat-form-field appearance="outline">
          <mat-label>Nhập mật khẩu mới</mat-label>
          <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'" autocomplete="off" class="input-custom-material" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Mật khẩu không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-10">
        <mat-form-field appearance="outline">
          <mat-label>Nhập lại mật khẩu mới</mat-label>
          <input matInput [formControl]="passwordAgainFormControl" type="password" autocomplete="off" class="input-custom-material" required (change)="checkPassword()">
          <mat-error *ngIf="passwordAgainFormControl.hasError('required')">
            Mật khẩu không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <button class="btn btn-success btn-block mt-20" (click)="forgotPassword()" [disabled]="passwordFormControl.invalid || emailFormControl.invalid || passwordAgainFormControl.invalid">Bước tiếp theo <div *ngIf="hidden" class="spinner-grow text-light ml-5" role="status">
        <span class="sr-only">Loading...</span>
      </div></button>
    </form><!-- /form -->
    <a [routerLink]="['/register']" class="btn btn-link">Tạo tài khoản!</a>
    <a [routerLink]="['/forgot-password']" class="btn btn-link"><small>Quên mật khẩu?</small></a>
  </div><!-- /card-container -->
</div><!-- /container -->


