.product_desc .product_desc_info .new-price{
  color: red;
}

.sss{
  width: 100%;
  position: absolute;
  top: -13rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.add-actions .add-actions-link li span i{
  padding-top: 8px;
}

.add-actions .add-actions-link li span {
  cursor: pointer;
}

.shop-add-action .add-actions-link li span{
  padding-left: 10px;
  cursor: pointer;
}

.shop-add-action .add-actions-link li span:hover{
  color: #00a9da;
}
