<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Giới thiệu</li>
      </ul>
    </div>
  </div>
</div>
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
  <div class="container">
    <div class="row">
      <!-- About Text Start -->
      <div class="col-lg-6 order-last order-lg-first">
        <div class="about-text-wrap">
          <h2>VỀ CHÚNG TÔI</h2><span>CHUYÊN CUNG CẤP, MUA VÀ BÁN ĐỒ GỖ NỘI THẤT</span>
          <p><strong> Đồ gỗ Huy Hùng</strong> tự hào là nơi chuyên cung cấp đồ gỗ nội thất uy tín, chất lượng tại Hà Nội.</p>
          <p>Từ xưa đến nay, ta không thể phủ nhận vai trò của đồ gỗ trong mỗi gia đình. Nó là thứ đồ dùng không thể thiếu. Do đó, việc tìm mua cho mình một nơi uy tín về chất lượng,
            giá cả phải chăng là điều tất yếu.</p>
          <h5 class="title-content">Về sản phẩm</h5>
          <p>Cam kết chất lượng sản phẩm bằng các dịch vụ bảo hành với nhiều ưu đãi.</p>
          <h5 class="title-content">Giá trị văn hóa</h5>
          <p>Các món đồ gỗ trong gia đình khiến cho không gian văn hóa trong gia đình bạn trở nên hài hòa, không chỉ sang trọng bởi cách
            thể hiện mà còn tôn lên được phần nào đó giá trị văn hóa của cha ông ta. Đô gỗ không chỉ mang giá trị sử dụng mà nó còn là vật
            trang trí, thể hiện được cái nhìn của chủ nhân ngôi nhà. Qua đó thể hiện được nét riêng, sự khác biệt trong từng ngôi nhà.</p>
          <h5 class="title-content">Giá trị thẩm mĩ</h5>
          <p>Không phải ai cũng có thể cảm nhận hết được cái hồn của một sản phẩm. Các nghệ nhân khi tạo ra một sản phẩm không chỉ muốn cho các sản phẩm mình tạo
            ra được mọi người tin dùng mà còn thổi vào đó cái hồn của người nghệ nhân. Qua đây, chúng ta có thể thấy rõ được sự tâm huyết của các nghệ nhân
            đã tạo ra nhiều mẫu mã với nhiều các cách thể hiện khác nhau.</p>
          <br/>
          <h5 class="title-content">Chúc các bạn sưu tầm được món đồ ưng ý</h5>
        </div>
      </div>
      <!-- About Text End -->
      <!-- About Image Start -->
      <div class="col-lg-5 col-md-10">
        <div class="about-image-wrap">
          <img class="img-full" src="assets/images/about-us/about.jpg" alt="About Us" />
        </div>
      </div>
      <!-- About Image End -->
    </div>
  </div>
</div>
<!-- about wrapper end -->
<!-- Begin Counterup Area -->
<div class="counterup-area">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6">
        <!-- Begin Limupa Counter Area -->
        <div class="limupa-counter white-smoke-bg">
          <div class="container">
            <div class="counter-img">
              <img src="assets/images/about-us/icon/4.png" alt="">
            </div>
            <div class="counter-info">
              <div class="counter-number">
                <h3 class="counter">{{totalNumLike}}</h3>
              </div>
              <div class="counter-text">
                <span>LƯỢT THÍCH</span>
              </div>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter gray-bg">
          <div class="counter-img">
            <img src="assets/images/about-us/icon/1.png" alt="">
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">{{totalNumBuy}}</h3>
            </div>
            <div class="counter-text">
              <span>LƯỢT MUA</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter white-smoke-bg">
          <div class="counter-img">
            <img src="assets/images/about-us/icon/2.png" alt="">
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">{{totalProduct}}</h3>
            </div>
            <div class="counter-text">
              <span>SẢN PHẨM</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter gray-bg">
          <div class="counter-img">
            <img src="assets/images/about-us/icon/3.png" alt="">
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">{{totalIsNew}}</h3>
            </div>
            <div class="counter-text">
              <span>SẢN PHẨM MỚI</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
    </div>
  </div>
</div>
<!-- Counterup Area End Here -->

