<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết sản phẩm</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
  <div class="container">
    <div class="row single-product-area">
      <div class="col-lg-5 col-md-5">
        <!-- Product Details Left -->
        <div class="product-details-left">
          <div class="product-details-images slider-navigation-1">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let img of listImg">
                <img [src]="'data:image/jpg;base64,' + img">
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="slider-thumbs-1">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let imgSmall of listImgSmall" class="product-details-thumbs">
                <div class="sm-image">
                  <img [src]="'data:image/jpg;base64,' + imgSmall">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
        <div class="single-add-to-cart">
          <form class="cart-quantity">
            <div class="quantity">
              <label>Số lượng</label>
              <div class="cart-plus-minus">
                <input class="cart-plus-minus-box" value="{{cartNum}}" type="text">
                <div class="dec qtybutton"><i class="fa fa-angle-down" (click)="changeNumCart(false)"></i></div>
                <div class="inc qtybutton"><i class="fa fa-angle-up" (click)="changeNumCart(true)"></i></div>
              </div>
            </div>
            <button class="add-to-cart" type="submit" (click)="addProCart(productId)">Thêm vào giỏ</button>
          </form>
        </div>
        <div class="product-additional-info pt-25">
          <a class="wishlist-btn" (click)="insertToWishList(productId)"><i class="fa fa-heart-o"></i>Yêu thích</a>
          <div class="product-social-sharing pt-25">
            <ul>
              <p><i class="fa fa-share"> Chia sẻ</i></p>
              <li class="facebook"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i>Facebook</a></li>
              <li class="twitter"><a href="https://twitter.com"><i class="fa fa-twitter"></i>Twitter</a></li>
              <li class="google-plus"><a href="https://www.google.com"><i class="fa fa-google-plus"></i>Google +</a>
              </li>
              <li class="instagram"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i>Instagram</a>
              </li>
            </ul>
          </div>
        </div>
        <!--// Product Details Left -->
      </div>

      <div class="col-lg-7 col-md-7">
        <div class="product-details-view-content pt-60">
          <div class="product-info">
            <h2>{{productName}}</h2>
            <span class="product-details-ref">{{cateName}}</span>
            <div class="rating-box pt-20">
              <ul class="rating rating-with-review-item">
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="review-item"><a data-toggle="tab" href="#product-details">Xem phản hồi</a></li>
              </ul>
            </div>
            <div class="price-box pt-20 row">
              <h5>Giá: </h5><span class="new-price new-price-2 col-4">{{realPrice * 1000000 | number}}VNĐ</span>
              <h5 *ngIf="discount != '0'">Giá cũ: </h5>
              <del class="new-price new-price-2 col-4" *ngIf="discount != '0'">{{price * 1000000 | number}}VNĐ</del>
            </div>
            <div class="product-desc">
              <p>
                <span>Mô tả: {{description}}</span>
              </p>
            </div>
            <div class="block-reassurance">
              <ul>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-check-square-o"></i>
                    </div>
                    <p>Bảo mật tuyệt đối thông tin khách hàng</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-truck"></i>
                    </div>
                    <p>Miễn phí vận chuyển, cam kết chất lượng sản phẩm trong quá trình vận chuyển</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-exchange"></i>
                    </div>
                    <p>Bảo hành lên tới 3 năm.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li><a class="active" data-toggle="tab" href="#description"><span>Mô tả</span></a></li>
            <li><a data-toggle="tab" href="#product-details"><span>Phản hồi</span></a></li>
            <li><a data-toggle="tab" href="#reviews"><span>Đánh giá</span></a></li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>
    <div class="tab-content">
      <div id="description" class="tab-pane active show" role="tabpanel">
        <div class="product-description">
          <span>{{description}}</span>
        </div>
      </div>
      <div id="product-details" class="tab-pane" role="tabpanel">
        <div class="li-comment-section">
          <br>
          <h5 *ngIf="commentList">{{commentList.length}} phản hồi</h5>
          <ul>
            <li *ngFor="let eachComment of commentList">
              <div class="author-avatar pt-15">
                <img src="assets/images/user/user.png">
              </div>
              <div class="comment-body pl-15">
                <h5 class="comment-author pt-15 pb-0">{{eachComment.userName}} ({{eachComment.createDate}})</h5>
                <p class="pt-0">{{eachComment.content}}</p>
                <div *ngIf="currentUser">
                  <button class="reply-btn" *ngIf="this.currentUser.id === eachComment.userId" (click)="clickDelete(deleteCommentConfirm, eachComment.id)">Xóa</button>
                  <button class="reply-btn" *ngIf="this.currentUser.id === eachComment.userId" data-toggle="collapse" data-target="#collapseExample"
                          aria-expanded="false" aria-controls="collapseExample" (click)="getCommentById(eachComment.id)">Sửa</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="collapseExample" class="collapse">
          <textarea row="2" value="{{commentContent}}" [(ngModel)]="contentReview" name="commnet"></textarea>
          <button (click)="clickSave(editCommentConfirm)" class="btn btn-primary">Chỉnh sửa</button>
        </div>
      </div>
      <div id="reviews" class="tab-pane" role="tabpanel">
        <div class="order-lg-1 order-1">
          <div class="row li-main-content">
            <div class="col-lg-12">
              <!-- Begin Blog comment Box Area -->
              <div class="li-blog-comment-wrapper">
                <br>
                <h3>Để lại đánh giá của bạn</h3>
                <div>
                  <div class="comment-post-box">
                    <div class="row">
                      <div class="col-lg-12">
                        <textarea name="commnet" placeholder="Viết đánh giá..." [(ngModel)]="contentReview"></textarea>
                      </div>
                      <div class="col-lg-12">
                        <div class="coment-btn pt-30 pb-xs-30 pb-sm-30 f-left">
                          <button class="li-btn-2" (click)="clickSave(insert)" class="btn btn-primary">Gửi đánh giá</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Blog comment Box Area End Here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Section Area -->
      <div class="col-lg-12">
        <div class="li-section-title">
          <h2>
            <span>{{numSamePro}} sản phẩm cùng thể loại:</span>
          </h2>
        </div>
        <div class="product-active">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="col-lg-12" *ngFor="let sameProduct of sameProList">
            <!-- single-product-wrap start -->
            <div class="single-product-wrap">
              <div class="product-image">
                <a href="single-product.html">
                  <img [src]="'data:image/jpg;base64,' + sameProduct.urlImage">
                </a>
                <span class="sticker" *ngIf="sameProduct.productNew">Mới</span>
              </div>
              <div class="product_desc">
                <div class="product_desc_info">
                  <div class="product-review">
                    <h5 class="manufacturer">
                      <a href="product-details.html">{{sameProduct.categoryName}}</a>
                    </h5>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                  </div>
                  <h4><a class="product_name" href="single-product.html">{{sameProduct.productName}}</a></h4>
                  <div class="price-box">
                    <span class="new-price new-price-2">{{sameProduct.realPrice * 1000000 | number}}VNĐ</span>
                    <span *ngIf="sameProduct.discount != '0'"
                          class="old-price">{{sameProduct.price * 1000000 | number}} VNĐ</span>
                  </div>
                </div>
                <div class="add-actions">
                  <ul class="add-actions-link">
                    <li class="add-cart active" (click)="addProCart(sameProduct.id)"><span>Thêm vào giỏ</span></li>
                    <li><span title="Mua ngay" class="quick-view-btn"><i class="fa fa-eye"></i></span></li>
                    <li (click)="insertToWishList(sameProduct.id)"><span title="Yêu thích" class="links-details"><i class="fa fa-heart-o"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- single-product-wrap end -->
          </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <!-- Li's Section Area End Here -->
    </div>
  </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<ng-template #insert>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="">Bạn có chắc chắn muốn gửi không?</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary click-btn-upload" (click)=onBack() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" (click)="saveComment()" style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>

<ng-template #editCommentConfirm>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="">Bạn có chắc chắn muốn chỉnh sửa không?</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary click-btn-upload" (click)=onBack() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" (click)="editComment()" style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>

<ng-template #deleteCommentConfirm>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="">Bạn có chắc chắn muốn xóa không?</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary click-btn-upload" (click)=onBack() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" (click)="deleteComment()" style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>
