<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết sản phẩm</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
  <div class="container">
    <div class="row single-product-area">
      <div class="col-lg-5 col-md-5">
        <!-- Product Details Left -->
        <div class="product-details-left">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of listImg">
              <img src="assets/images/product/large-size/{{categoryId}}/{{img}}" alt="Random first slide">
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="block-reassurance">
          <ul>
            <li>
              <div class="reassurance-item">
                <div class="reassurance-icon">
                  <i class="fa fa-check-square-o"></i>
                </div>
                <p>Bảo mật tuyệt đối thông tin khách hàng</p>
              </div>
            </li>
            <li>
              <div class="reassurance-item">
                <div class="reassurance-icon">
                  <i class="fa fa-truck"></i>
                </div>
                <p>Miễn phí vận chuyển, cam kết chất lượng sản phẩm trong quá trình vận chuyển</p>
              </div>
            </li>
            <li>
              <div class="reassurance-item">
                <div class="reassurance-icon">
                  <i class="fa fa-exchange"></i>
                </div>
                <p>Bảo hành lên tới 3 năm.</p>
              </div>
            </li>
          </ul>
        </div>
        <!--// Product Details Left -->
      </div>

      <div class="col-lg-7 col-md-7">
        <div class="product-details-view-content pt-60">
          <div class="product-info">
            <h2>{{productName}}</h2>
            <span class="product-details-ref">{{cateName}}</span>
            <div class="rating-box pt-20">
              <ul class="rating rating-with-review-item">
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="review-item"><a href="#">Xem phản hồi</a></li>
                <li class="review-item"><a href="#">Viết phản hồi</a></li>
              </ul>
            </div>
            <div class="price-box pt-20 row">
              <h5>Giá: </h5><span class="new-price new-price-2 col-4">{{realPrice * 1000000 | number}}VNĐ</span>
              <h5 *ngIf="discount != '0'">Giá cũ: </h5><del class="new-price new-price-2 col-4" *ngIf="discount != '0'">{{price * 1000000 | number}}VNĐ</del>
            </div>
            <div class="product-desc">
              <p>
                <span>{{description}}</span>
              </p>
            </div>
            <div class="single-add-to-cart">
              <form action="#" class="cart-quantity">
                <div class="quantity">
                  <label>Số lượng</label>
                  <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" value="1" type="text">
                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                  </div>
                </div>
                <button class="add-to-cart" type="submit">Thêm vào giỏ</button>
              </form>
            </div>
            <div class="product-additional-info pt-25">
              <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
              <div class="product-social-sharing pt-25">
                <ul>
                  <p><i class="fa fa-share"> Chia sẻ</i></p>
                  <li class="facebook"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i>Facebook</a></li>
                  <li class="twitter"><a href="https://twitter.com"><i class="fa fa-twitter"></i>Twitter</a></li>
                  <li class="google-plus"><a href="https://www.google.com"><i class="fa fa-google-plus"></i>Google +</a></li>
                  <li class="instagram"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li><a class="active" data-toggle="tab" href="#description"><span>Mô tả</span></a></li>
            <li><a data-toggle="tab" href="#product-details"><span>Chi tiết</span></a></li>
            <li><a data-toggle="tab" href="#reviews"><span>Đánh giá</span></a></li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>
    <div class="tab-content">
      <div id="description" class="tab-pane active show" role="tabpanel">
        <div class="product-description">
          <span>{{description}}</span>
        </div>
      </div>
      <div id="product-details" class="tab-pane" role="tabpanel">
        <div class="product-details-manufacturer">
          <a href="#">
            <img src="assets/images/product-details/1.jpg" alt="Product Manufacturer Image">
          </a>
          <p><span>{{cateName}}</span></p>
        </div>
      </div>
      <div id="reviews" class="tab-pane" role="tabpanel">
        <div class="product-reviews">
          <div class="product-details-comment-block">
            <div class="comment-review">
              <span>Chất lượng</span>
              <ul class="rating">
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
            <div class="comment-author-infos pt-25">
              <span>HTML 5</span>
              <em>01-12-18</em>
            </div>
            <div class="comment-details">
              <h4 class="title-block">Đồ gỗ Huy Hùng</h4>
              <p>Plaza</p>
            </div>
            <div class="review-btn">
              <button class="review-links" (click)="openDialog()">Viết đánh giá</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Section Area -->
      <div class="col-lg-12">
        <div class="li-section-title">
          <h2>
            <span>{{numSamePro}} sản phẩm cùng thể loại:</span>
          </h2>
        </div>
        <div class="row">
          <div class="product-active owl-carousel">
            <div class="col-lg-12" *ngFor="let samePro of sameProList">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product.html">
                    <img src="assets/images/product/large-size/{{categoryId}}/{{samePro.urlImage}}" alt="Li's Product Image">
                  </a>
                  <span class="sticker">New</span>
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">{{samePro.categoryName}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                          <li class="no-star"><i class="fa fa-star-o"></i></li>
                          <li class="no-star"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product.html">{{samePro.productName}}</a></h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{samePro.realPrice * 1000000 | number}} VNĐ</span>
                      <span *ngIf="samePro.discount != '0'" class="old-price">{{samePro.price * 1000000 | number}} VNĐ</span>
                      <span *ngIf="samePro.discount != '0'" class="discount-percentage">-{{samePro.discount}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><span title="quick view" class="quick-view-btn" data-toggle="modal"><i class="fa fa-eye"></i></span></li>
                      <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
          </div>
        </div>
      </div>
      <!-- Li's Section Area End Here -->
    </div>
  </div>
</section>
<!-- Li's Laptop Product Area End Here -->
