<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form>
      <mat-form-field>
        <mat-label>Tên tài khoản</mat-label>
        <input matInput type="text" [formControl]="fullName" required />
        <mat-error *ngIf="fullName.hasError('required')">
          Tên tài khoản không được để trống
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tên đăng nhập(email)</mat-label>
        <input matInput type="text" [formControl]="email" required />
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Email sai định dạng
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email không được để trống
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mật khẩu</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">
          Mật khẩu không được để trống
        </mat-error>
      </mat-form-field>
      <button class="btn btn-lg btn-primary btn-block btn-signin mt-10" (click)="register()">Tạo tài khoản <i *ngIf="loading" class="fa fa-spinner fa-spin"></i></button>
      <button [routerLink]="['/login']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Hủy</button>

    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->
