<div id="product-details" class="tab-pane" role="tabpanel">
  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 row">
        <div class="col-6">
          <h6 class="m-0 font-weight-bold text-primary">Danh sách thể loại</h6>
          <span>(Có {{listCategory.length}} thể loại)</span>
        </div>
<!--        <div class="col-6 row">-->
<!--          <form class="create-cate-input" [formGroup]="formCreateCate">-->
<!--            <input type="text" formControlName="categoryName" placeholder="Tên thể loại..."/>-->
<!--          </form>-->
<!--          <button class="btn btn-primary" (click)="createCategoryConfirm(createCategory)">Lưu <i class="fa fa-save" aria-hidden="true"></i></button>-->
<!--        </div>-->
<!--      </div>-->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-product" id="dataTable2" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên thể loại</th>
              <th>Ngày tạo</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let eachCate of listCategory | paginate: {id: 'page1', itemsPerPage: pageSize, currentPage: currentP, totalItems: listCategory.length}, index as i">
              <td>{{currentP * pageSize - (pageSize - 1) + i}}</td>
              <td>{{eachCate.nameCate}}</td>
              <td>{{eachCate.createDate}}</td>
              <td class="td-home-admin">
                            <span data-toggle="tooltip" data-placement="top" title="Sửa"><i
                              class="fa fa-edit"></i></span>
                <span data-toggle="tooltip" data-placement="top" title="Xóa" style="padding-left: 5px"
                      (click)="deleteCategoryConfirm(eachCate,deleteCategory)"><i
                  class="fa fa-trash"></i></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="paginatoin-area">
          <div class="row" *ngIf="listCategory">
            <div class="col-lg-6 col-md-6">
              <p>Từ {{currentP * pageSize - (pageSize - 1)}} -
                <span *ngIf="currentP*pageSize <  listCategory.length">{{currentP * pageSize}}</span>
                <span *ngIf="currentP*pageSize >= listCategory.length">{{listCategory.length}}</span> trên
                tổng số {{listCategory.length}} thể loại</p>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul class="pagination-box">
                <pagination-controls id="page1" (pageChange)="pageChange($event)" maxSize="5"
                                     directionLinks="true"
                                     autoHide="false" responsive="false" previousLabel="Trước"
                                     nextLabel="Tiếp"
                                     screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                </pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteCategory>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="del">Bạn chắc chắn muốn xóa thể loại này</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeForm()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=closeForm() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" style="width: 88.64px;"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>

<ng-template #createCategory>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="del">Bạn chắc chắn muốn thêm thể loại này</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeForm()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=closeForm() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" style="width: 88.64px;" (click)="addCategory()"><i
      class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>
