<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Thanh toán</li>
      </ul>
    </div>
  </div>
</div>
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="table-content table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="li-product-remove">Xóa</th>
                <th class="li-product-thumbnail">Ảnh</th>
                <th class="cart-product-name">Tên sản phẩm</th>
                <th class="li-product-price">Giá bán</th>
                <th class="li-product-quantity">Số lượng</th>
                <th class="li-product-subtotal">Thành tiền</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let proInCart of productInCart">
                <td class="li-product-remove" style="cursor: pointer" data-toggle="tooltip" data-placement="top"
                    title="Xóa" (click)="deleteCartConfirm(proInCart, deleteCart)"><span><i
                  class="fa fa-times"></i></span></td>
                <td class="li-product-thumbnail"><a href="#"><img [src]="'data:image/jpg;base64,' + proInCart.urlImage"></a>
                </td>
                <td class="li-product-name"><a href="#">{{proInCart.productName}}</a></td>
                <td class="li-product-price"><span class="amount">{{proInCart.realPrice * 1000000 | number}}</span></td>
                <td class="quantity">
                                    <app-stepper-input [step]="1" [min]="0" [max]="100" [initialValue]="proInCart.numProInCart" symbol="" ariaLabelLess="Less 1"
                                                       ariaLabelMore="Plus 1" [productId]="proInCart.id"></app-stepper-input>
<!--                  <div class="qty mt-5">-->
<!--                    <span class="minus bg-dark" (click)="editNumCart(proInCart.id, proInCart.numProInCart, false)">-</span>-->
<!--                    <input type="number" class="count" name="qty" value="{{cartNum}}">-->
<!--                    <span class="plus bg-dark" (click)="editNumCart(proInCart.id, proInCart.numProInCart, true)">+</span>-->
<!--                  </div>-->
                </td>
                <td class="product-subtotal"><span>{{proInCart.realPrice * 1000000 * proInCart.numProInCart | number}}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="coupon-all">
                <div class="coupon">
                  <input class="input-text" name="coupon_code" [(ngModel)]="codeDiscount"
                         placeholder="Nhập mã khuyến mại" type="text">
                  <button class="button" name="apply_coupon" (click)="getCodeDiscount(codeDiscount)" type="submit">Áp
                    dụng
                  </button>
                </div>
                <div class="coupon2">
                  <input class="button" name="update_cart" value="Cập nhật giỏ hàng" (click)="updateFaKe()">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="cart-page-total">
                <h2>Hóa đơn</h2>
                <ul>
                  <li>Tổng tiền <span>{{subtotal * 1000000 | number}}</span></li>
                  <li>Khuyến mại áp dụng <span *ngIf="dataCode != null">{{dataCode}} %</span></li>
                  <li *ngIf="dataCode">Thanh toán <span>{{subtotal * 1000000 - (dataCode * subtotal * 10000) | number}}</span></li>
                  <li *ngIf="!dataCode">Thanh toán <span>{{subtotal * 1000000 | number}}</span></li>
                </ul>
                <a routerLink="/checkout">Thanh toán</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Shopping Cart Area End-->
<ng-template #deleteCart>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="del">Bạn chắc chắn muốn xóa sản phẩm này</span>
    </div>

    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeForm()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=closeForm() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      Không
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" style="width: 88.64px;" (click)="removeProInCart()">
      <i
        class="fa fa-check"></i>
      Có
    </button>
  </div>
</ng-template>

