.product-details-view-content .product-desc {
  margin-bottom: 0;
}
.modal-body .product-social-sharing {
  width: 340px;
}
.li-comment-section ul li {
  margin-bottom: 15px;
}
.custom-btn-group button {
  width: 120px;
}
.paginatoin-area {
  background-color: white;
  border: none;
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
}
