
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="header-top-left">
            <ul class="phone-wrap">
              <li><span>SĐT liên hệ:</span><a routerLink="/contact">(+123) 123 321 345</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="header-top-right">
            <ul class="ht-menu">
              <li *ngIf="currentUser"><a routerLink="/profile">{{userEmail}}</a></li>
              <li *ngIf="currentUser"><a routerLink="/logout" (click)="logOut()">Đăng xuất</a></li>
              <li *ngIf="!currentUser"><a routerLink="/login">Đăng nhập</a></li>
              <li><a routerLink="/register">Đăng kí</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo pb-sm-30 pb-xs-30">
            <a routerLink="/home">
              <img src="assets/images/menu/logo/1.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
          <div class="hm-searchbox row">
            <select class="select-search-category col-3" [(ngModel)]="categoryId">
              <option [value]="null" disabled>Thể loại</option>
              <option *ngFor="let eachCate of categories" value="{{eachCate.id}}">{{eachCate.nameCate}}</option>
            </select>
            <input class="col-9" type="text" [(ngModel)]="productName" placeholder="Tìm kiếm ...">
            <button class="li-btn" type="submit" (click)="search()"><i class="fa fa-search"></i></button>
          </div>
          <div class="header-middle-right">
            <ul class="hm-menu">
              <li class="hm-wishlist">
                <a routerLink="/wish-list">
                  <span class="cart-item-count wishlist-item-count" *ngIf="listPro">{{listPro.length}}</span>
                  <i class="fa fa-heart-o"></i>
                </a>
              </li>
              <li class="hm-minicart">
                <div class="hm-minicart-trigger">
                  <span class="item-icon" routerLink="/cart"></span>
                  <span class="item-text">{{subtotal * 1000000 | number}}
                    <span *ngIf="cartNum" class="cart-item-count" routerLink="/cart">{{cartNum}}</span>
                    <span *ngIf="!cartNum" class="cart-item-count" routerLink="/login"></span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hb-menu">
            <nav>
              <ul>
                <li><a routerLink="/home">Trang chủ</a></li>
                <li><a (click)="proCate(1)" routerLink="/product-category/1">Bàn ghế phòng khách</a></li>
                <li><a (click)="proCate(2)" routerLink="/product-category/2">Bàn ghế phòng ăn</a></li>
                <li><a (click)="proCate(3)" routerLink="/product-category/3">Tủ quần áo</a></li>
                <li><a (click)="proCate(4)" routerLink="/product-category/4">Kệ ti vi</a></li>
                <li><a routerLink="/blog">Tin Tức</a></li>
                <li><a routerLink="/about">Giới thiệu</a></li>
                <li><a routerLink="/contact">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


