
<!-- Begin Header Area -->
<header>
  <!-- Begin Header Top Area -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Begin Header Top Left Area -->
        <div class="col-lg-3 col-md-4">
          <div class="header-top-left">
            <ul class="phone-wrap">
              <li><span>SĐT liên hệ:</span><a routerLink="/contact">(+123) 123 321 345</a></li>
            </ul>
          </div>
        </div>
        <!-- Header Top Left Area End Here -->
        <!-- Begin Header Top Right Area -->
        <div class="col-lg-9 col-md-8">
          <div class="header-top-right">
            <ul class="ht-menu">
              <!-- Begin Setting Area -->
              <li *ngIf="currentUser"><a routerLink="/profile">{{userInfo.email}}</a></li>
              <!-- Setting Area End Here -->
              <!-- Begin Currency Area -->
              <li *ngIf="currentUser"><a routerLink="/logout" (click)="logOut()">Đăng xuất</a></li>
              <!-- Currency Area End Here -->
              <!-- Begin Language Area -->
              <li *ngIf="!currentUser"><a routerLink="/login">Đăng nhập</a></li>
              <li><a routerLink="/register">Đăng kí</a></li>
              <!-- Language Area End Here -->
              <!--              <li><a routerLink="{{router1}}">{{li1}}</a></li>-->
              <!--              <li><a routerLink="{{router2}}">{{li2}}</a></li>-->
            </ul>
          </div>
        </div>
        <!-- Header Top Right Area End Here -->
      </div>
    </div>
  </div>
  <!-- Header Top Area End Here -->
  <!-- Begin Header Middle Area -->
  <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container">
      <div class="row">
        <!-- Begin Header Logo Area -->
        <div class="col-lg-3">
          <div class="logo pb-sm-30 pb-xs-30">
            <a routerLink="/home">
              <img src="assets/images/menu/logo/1.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Header Logo Area End Here -->
        <!-- Begin Header Middle Right Area -->
        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
          <!-- Begin Header Middle Searchbox Area -->
          <div class="hm-searchbox row">
            <select class="select-search-category col-3" [(ngModel)]="categoryId">
              <option [value]="null" disabled>Thể loại</option>
              <option *ngFor="let eachCate of categories" value="{{eachCate.id}}">{{eachCate.nameCate}}</option>
            </select>
            <input class="col-9" type="text" [(ngModel)]="productName" placeholder="Tìm kiếm ...">
            <button class="li-btn" type="submit" (click)="search()"><i class="fa fa-search"></i></button>
          </div>
          <!-- Header Middle Searchbox Area End Here -->
          <!-- Begin Header Middle Right Area -->
          <div class="header-middle-right">
            <ul class="hm-menu">
              <!-- Begin Header Middle Wishlist Area -->
              <li class="hm-wishlist">
                <a routerLink="/wish-list">
                  <span class="cart-item-count wishlist-item-count">{{listPro.length}}</span>
                  <i class="fa fa-heart-o"></i>
                </a>
              </li>
              <!-- Header Middle Wishlist Area End Here -->
              <!-- Begin Header Mini Cart Area -->
              <li class="hm-minicart">
                <div class="hm-minicart-trigger">
                  <span class="item-icon" routerLink="/cart"></span>
                  <span class="item-text">{{subtotal * 1000000 | number}}
                    <span class="cart-item-count" routerLink="/cart">{{cartNum}}</span>
                  </span>
                </div>
              </li>
              <!-- Header Mini Cart Area End Here -->
            </ul>
          </div>
          <!-- Header Middle Right Area End Here -->
        </div>
        <!-- Header Middle Right Area End Here -->
      </div>
    </div>
  </div>
  <!-- Header Middle Area End Here -->
  <!-- Begin Header Bottom Area -->
  <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Begin Header Bottom Menu Area -->
          <div class="hb-menu">
            <nav>
              <ul>
                <li><a routerLink="/home">Trang chủ</a></li>
                <li><a (click)="proCate(1)" routerLink="/product-category/1">Bàn ghế phòng khách</a></li>
                <li><a (click)="proCate(2)" routerLink="/product-category/2">Bàn ghế phòng ăn</a></li>
                <li><a (click)="proCate(3)" routerLink="/product-category/3">Tủ quần áo</a></li>
                <li><a (click)="proCate(4)" routerLink="/product-category/4">Kệ ti vi</a></li>
                <li><a routerLink="/blog">Tin Tức</a></li>
                <li><a routerLink="/about">Giới thiệu</a></li>
                <li><a routerLink="/contact">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
          <!-- Header Bottom Menu Area End Here -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Bottom Area End Here -->
  <!-- Begin Mobile Menu Area -->
  <div class="mobile-menu-area d-lg-none d-xl-none col-12">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu Area End Here -->
</header>
<!-- Header Area End Here -->

